// !全局样式表

// *引入 icon 样式
@import "./icon.less";

body {
  background-color: #f5f7f9;
}

// *设置全局导航栏样式
.app-nav-bar {
  background-color: #3296fa;
  .van-nav-bar__title {
    color: #ffffff;
  }
  .van-icon {
    color: #ffffff;
  }
}
// ! 为了解决 toast 文字模糊
.van-toast--top{
  top: 11%;
  line-height: 18.4px;
}
// ! 为了解决 绝对定位引起的文字模糊
.van-dialog{
  width: 320px;
  height: 151px;
  transform: none;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
}
